header {
    border: 1px solid gray;
}

nav {
    border: 1px solid red;
    height: 30px;
}

main {
    border: 1px solid blue;
    height: 100px;
}

footer {
    border: 1px solid green;
    height: 30px;
}